ol {
    padding: 0;
}

.history-collab {
    width: 80vw;
    margin: 0 auto;
    font-family: 'Comfortaa', sans-serif;
    list-style: none;
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #fd79a8;
    color: #FFF;
    box-shadow: 2px 2px 4px rgba(45, 52, 54, 0.5);
}

.history-collab:nth-child(odd) {
    background-color: #e84393;
    color: #FFF;
}