.square-collab {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #6c5ce7;
    width: 33.333%;
    height: 33.333%;
    font-size: 8vw;
    color: #e84393;
    cursor: pointer;
    vertical-align: top;
}


/* DON'T DO IT */
.square-collab::-moz-focus-inner {
    border: none;
}
.square-collab:focus {
    outline: 0;
}
